---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/water.css">
    <link rel="stylesheet" href="/assets/nav.css">
    {# <link href="/assets/prism.css" rel="stylesheet" media="(prefers-color-scheme: light)"> #}
    {# <link href="/assets/prism-vsc-dark-plus.css" rel="stylesheet" media="(prefers-color-scheme: light)"> #}
    <link href="https://unpkg.com/prism-themes@1.9.0/themes/prism-one-light.css" rel="stylesheet" media="(prefers-color-scheme: light)">
    <link href="https://unpkg.com/prism-themes@1.9.0/themes/prism-one-dark.css" rel="stylesheet"  media="(prefers-color-scheme: dark)">
    {# <link href="/assets/prism-tomorrow.css" rel="stylesheet"  media="(prefers-color-scheme: dark)"> #}
    <style>
      body {
        padding: 10px;
      }
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>