---
title: Artem R.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="me" href="https://indieweb.social/@asci">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for Notes" href="https://artm.dev/feed.xml">
    <link rel="icon" type="image/ico" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/themes/water.css">
    <link rel="stylesheet" href="/assets/nav.css">
    <link href="/assets/themes/prism-one-light.css" rel="stylesheet" media="(prefers-color-scheme: light)">
    <link href="/assets/themes/prism-one-dark.css" rel="stylesheet"  media="(prefers-color-scheme: dark)">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}
    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
    insights.init('ZCCYpa_2dkb_qmCj');
    insights.trackPages();
    </script>
  </body>
</html>