nav > ul {
  display: flex;
  gap: 8px;
  padding-left: 0;
}

nav > ul > li {
  list-style: none;
}

small {
  color: #888;
}

body {
  padding: 32px;
}

body h1 {
  font-size: 16px;
}
body h2 {
  font-size: 16px;
}

section {
  --coef: 0.3s;
  --num: 0;
  animation-name: fadein;
  animation-duration: calc(var(--coef) * var(--num));
  transition-timing-function: ease-out;
}

section:nth-of-type(1) {
  --num: 1;
}

section:nth-of-type(2) {
  --num: 2;
}

section:nth-of-type(3) {
  --num: 3;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
