nav > ul {
  display: flex;
  gap: 8px;
  padding-left: 0;
}

nav > ul > li {
  list-style: none;
}

small {
  color: #888;
}

body {
  padding: 32px;
  max-width: 600px;
  font-size: 14px;
  background-color: var(--background-body);
  line-height: 2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-body);
  }
}

body h1 {
  font-size: 30px;
  margin-bottom: 0px;
  line-height: 1.3;
}
body h2 {
  font-size: 19px;
  margin-bottom: 0px;
  line-height: 1.3;
}

section {
  --coef: 0s;
  --num: 0;
  animation-name: fadein;
  animation-duration: calc(var(--coef) * var(--num));
  transition-timing-function: ease-out;
}

section:nth-of-type(1) {
  --num: 1;
}

section:nth-of-type(2) {
  --num: 2;
}

section:nth-of-type(3) {
  --num: 3;
}

section.pane {
  background-color: var(--background-alt);
  padding: 24px;
  border-radius: 8px;
  margin: auto -24px;
}

@media (prefers-color-scheme: dark) {
  section.pane {
    background-color: var(--background-alt);
  }
}
section.pane *:first-child {
  margin-top: 0;
}
section.pane *:last-child {
  margin-bottom: 0;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.book {
  display: flex;
  margin: 16px 0;
  gap: 16px;
}

.book > .left > img {
  box-shadow: 5px 5px 10px #eee;
}
.book > .left > img.border {
  border: 1px solid #eee;
}

.book > .left {
  width: 125px;
}

.book > .right {
  flex-grow: 1;
  width: 100%;
}

.book > .right > h2 {
  margin-top: 0;
}
